{% extends 'base.html.twig' %}

{% block metadescription %}
	<meta name="description" content="Rejoindre l'équipe de NUMERIS">
{% endblock %}

{% block backgroundimage %}
	<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
		<div class="overlay"></div>
	</div>	
{% endblock %}