{% extends 'base.html.twig' %}


{% block metadescription %}
	<meta name="description" content="NUMERIS est une sociéte de service et dingénierie en informatique (ssii) sise au Bénin ">
{% endblock %}

{% block backgroundimage %}
	<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
		<div class="overlay"></div>
	</div>	
{% endblock %}