{% extends 'base.html.twig' %}

{% block metadescription %}
	<meta name="description" content="Boutique de vente d'équipements Mikrotik">
{% endblock %}

{% block whyus %}
	
	<div id="features" class="section md-padding bg-grey">
		<!-- Section-header	-->	
		<div class="section-header text-center">
			<h2 class="title">MikroTik</h2>
		</div>
		<!-- /Section-header -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-12">
					
					<center><img class="img-responsive" src="./theme/img/en-construction.jpeg" alt=""></center>

				</div>
				<!-- /why choose us content -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
{% endblock %}