{% extends 'base.html.twig' %}

{% block backgroundimage %}
	<div class="bg-img" style="background-image: url('./theme/img/5.jpg');">
		<div class="overlay"></div>
	</div>	
{% endblock %}

{% block about %}
	<!-- Container -->
				<!-- Blog -->
				<div id="blog" class="fixed-top section md-padding bg-grey">

					<!-- Container -->
					<div class="container">

						<!-- Row -->
						<div class="row">

							<!-- Section header -->
							<div class="section-header text-center">
								<h2 class="title">Messagerie collaborative</h2>
							</div>
							<!-- /Section header -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive" src="./theme/img/webmail35.png" alt="">
									</div>
									<div class="blog-content">
										<h3> Messagerie collaborative BlueMind</h3>
										<p>

										<ul>
											<li>Envoi - Réception de mails</li>
											<li>Boites de réception partagées</li>
											<li>Carnets d’adresses (partagé)</li>
											<li>Agenda (partagé)</li>
											<li>Calendrier d’entreprise</li>
										</ul>
										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive" src="./theme/img/bluemind.jpg" alt="">
									</div>
									<div class="blog-content">
										<h3>Couverture fonctionnelle</h3>
										<p>

											<ul>
												<li>Agendas</li>
												<li>Contact</li>
												<li>Messagerie</li>
												<li>Tâches</li>
												<li>Drive-Chat</li>
												<li>VO-IP XIVO</li>
											</ul>
										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

							<!-- blog -->
							<div class="col-md-4">
								<div class="blog">
									<div class="blog-img">
										<img class="img-responsive"  src="./theme/img/blue.png" alt="">
									</div>
									<div class="blog-content">
										<h3>Clients Mobiles</h3>
										<p>
											<ul>
												<li>IOS,Androïd</li>
												<li>Multi Agendas</li>
												<li>ActiveSync natif</li>
												<li>Multi Agendas</li>
											</ul>

										</p>
									</div>
								</div>
							</div>
							<!-- /blog -->

						</div>
						<!-- /Row -->

					</div>
					<!-- /Container -->

				</div>
				<!-- /Blog -->


					<!-- pricing -->
					<div class="col-sm-4">
						<div class="pricing">
							<div class="price-head">
								<span class="price-title">Offre Basic</span>
								<div class="price">
									<h3>4.750<span class="duration">frs CFA/mois</span></h3>
								</div>
							</div>
							<ul class="price-content">
								<li>
									<p>1 Go Stockage </p>
								</li>
								<li>
									<p>10 utilisateurs </p>
								</li>
								<li>
									<p>Mails et Contacts</p>
								</li><li>
									<p>Agendas et Tâches</p>
								</li><li>
									<p>Pièces jointes détachées</p>
								</li><li>
									<p>WebMail</p>
								</li><li>
									<p>Synchronisation Mobile</p>
								</li>
								<li>
									<p>Protection anti-virus et anti-spam</p>
								</li>
								<li>
									<p>Assistance 8x5 par mail</p>
								</li><li>
									<p>Sans publicité</p>
								</li>
								<li>
									<p><br/></p>
								</li>
							</ul>
							<div class="price-btn">
								<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
					<!-- /pricing -->



				<!-- <!-- /pricing -->
					<div class="col-sm-4">
						<div class="pricing">
							<div class="price-head">
								<span class="price-title">Offre Pro </span>

								<div class="price">
									<h3>450<span class="duration">frs CFA/mois</span></h3>
								</div>
							</div>
							<ul class="price-content">
								<li>
									<p>5 Go Stockage</p>
								</li>
								<li>
									<p>Messagerie Instantanée</p>
								</li>
								<li>
									<p>Mails - Contacts</p>
								</li><li>
									<p>Agendas - Tâches</p>
								</li>
								<li>
									<p>Pièces jointes détachées</p>
								</li>
								<li>
									<p>WebMail</p>
								</li><li>
									<p>Synchronisation tout appareil</p>
								</li>
								<li>
									<p>Boîtes aux lettres partagées </p>
								</li>
								<li>
									<p>Protection anti-virus et anti-spam</p>
								</li>
								<li>
									<p>Assistance 24/7 par mail et téléphone </p>
								</li><li>
									<p>Sans publicité</p>
								</li>

							</ul>
							<div class="price-btn">
								<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>


				<!-- <!-- /pricing -->
				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Passerelle Mail</span>
							<div class="price">
								<h3>5.500<span class="duration">frs CFA/mois</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Protection anti-virus</p>
							</li>
							<li>
								<p>Protection anti-spam</p>
							</li>
							<li>
								<p>Signature DKIM et DMARC</p>
							</li><li>
								<p>SSL/TLS</p>
							</li><li>
								<p>Assistance 8x5 par mail</p>
							</li><li>
								<p>Sans publicité</p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
							<li>
								<p><br/></p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Voir <i class="fa fa-plus"></i></button>
						</div>
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	<!-- Service -->
	<div id="" class="section md-padding">

		<!-- Container -->
		<div id="service" class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div id="" class="section-header text-center">
					<h2 class="title">Services</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div id="" class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Ingénierie Web & Logicielle </h3>
						<p>Réalisation et intégration de logiciel appliqué aux besoins des entreprises et des particuliers.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-rocket"></i>
						<h3>L'infogérance</h3>
						<p>Gestion éfficace de l'informatique interne des entreprises (bureautique,reseaux, maintenance applicative...).</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-hand-peace-o"></i>
						<h3>Conseil-Assistance</h3>
						<p>Apport de notre expertise en matière d'aide à la décision et la mise en place de systèmes d'informations .</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-drivers-license"></i>
						<h3>Formation</h3>
						<p>Des cours adaptés pour vos certifications dans le domaine informatique,ayez l'esprit tranquille en vous préparant aux examens.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-window-restore"></i>
						<h3>Reseau-Securité</h3>
						<p>Installation et paramétrage des réseaux internes de l'entreprise ,mises à jour et contrôles réguliers de l'activité réseau.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-shopping-bag"></i>
						<h3>Materiel Informatique</h3>
						<p>De nombreuses gammes de produits, toujours d’après les besoins de la clientèle (serveur, stockage, equipement reseau ...).</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->
{% endblock %}
